/ Managed By
.row
  .large-12.columns
    .panel
      .row
        .large-2.small-6.columns
          %img{src: "http://placehold.it/300x300&text=Site Owner"}/
        .large-10.small-6.columns
          %strong
            This Site Is Managed By
            %hr/
          Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
  / End Managed By
