!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/[if IE 9 ] <html class="ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{lang: "en"}
  =render "layouts/head"
  %body
    .row
      .large-12.columns
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            %div{class: "alert-box #{name == :notice ? "success" : "alert"}"}
              %a.close{"data-dismiss" => "alert"} ×
              = content_tag :div, msg, :id => "flash_#{name}"
      -if user_signed_in?
        =render "shared/header_nav"
        .row
          =render "shared/side_bar"
          =render "shared/managed_by"
        =render "shared/footer"
      -else
        =render "shared/sign_in"
      =yield
